server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/smartOrderManagement
    username: postgres
    password: Yo857477@

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
